doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9")
    url
        loc
            |http://www.bearessentialsmassage.co.uk/
    url
        loc
            |http://www.bearessentialsmassage.co.uk/therapies
    url
        loc
            |http://www.bearessentialsmassage.co.uk/therapies/sports-massage
    url
        loc
            |http://www.bearessentialsmassage.co.uk/therapies/sports-taping
    url
        loc
            |http://www.bearessentialsmassage.co.uk/therapies/hot-stones-massage
    url
        loc
            |http://www.bearessentialsmassage.co.uk/therapies/pregnancy-massage
    url
        loc
            |http://www.bearessentialsmassage.co.uk/therapies/seated-acupressure
    url
        loc
            |http://www.bearessentialsmassage.co.uk/price-list
    url
        loc
            |http://www.bearessentialsmassage.co.uk/about
    url
        loc
            |http://www.bearessentialsmassage.co.uk/contact
    url
        loc
            |http://www.bearessentialsmassage.co.uk/blog
    for post in posts
        url
            loc
                |http://www.bearessentialsmassage.co.uk/blog/#{post.url}
