.mastfoot
  .inner
    p
      | &copy; 2016 Bear Essentials Massage Ltd. &middot; 
      a.fa.fa-facebook-square(href='https://www.facebook.com/bearessentialsmassageltd/', target='_blank')  Find us on Facebook 
    p
      | Produced by 
      a(href='http://www.jdheywood.com', target='_blank') jdheywood
