footer
  p.pull-right
    a(href='#') Back to top
  p
    | &copy; 2016 Bear Essentials Massage Ltd.
  p
    a.fa.fa-facebook-square(href='https://www.facebook.com/bearessentialsmassageltd/', target='_blank')  Find us on Facebook &middot; 
      a.fa.fa-twitter(href='https://twitter.com/BearEssentials7', target='_blank')  Follow us on Twitter
  p.small
    | Produced by 
    a(href='http://www.jdheywood.com', target='_blank') jdheywood
