ul.nav.masthead-nav
  li.dropdown.active
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      | Therapies 
      span.caret
    ul.dropdown-menu(role='menu')
      li
        a(href='/therapies/sports-massage') Sports Massage
      li
        a(href='/therapies/sports-taping') Sports Taping
      li
        a(href='/therapies/hot-stones-massage') Hot Stone Massage
      li
        a(href='/therapies/pregnancy-massage') Pregnancy Massage 
      li
        a(href='/therapies/seated-acupressure') Seated Acupressure
  unless pageName == 'prices'
    li
      a(href='/price-list') Price List
  unless pageName == 'about'
    li
      a(href='/about') About Us
  unless pageName == 'contact'
    li
      a(href='/contact') Contact Us
  unless pageName == 'blog'
    li
      a(href='/blog') Blog
  unless pageName == 'home'
    li
      a(href='/') Home