ul.nav.masthead-nav
  li.dropdown.active
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      | Therapies 
      span.caret
    ul.dropdown-menu(role='menu')
      li
        a(href='/therapies/sports-massage') Sports Massage
      li
        a(href='/therapies/sports-taping') Sports Taping
      li
        a(href='/therapies/hot-stones-massage') Hot Stone Massage
      li
        a(href='/therapies/seated-acupressure') Seated Acupressure
  unless content.pageName == 'prices'
    li
      a(href='/price-list') Prices
  unless content.pageName == 'about'
    li
      a(href='/about') About
  unless content.pageName == 'contact'
    li
      a(href='/contact') Contact
  unless content.pageName == 'relaxationRoom'
    li
      a(href='/relaxation-room') Relaxation
  unless content.pageName == 'blog'
    li
      a(href='/blog') Blog
  unless content.pageName == 'home'
    li
      a(href='/') Home