html, 
body.contact {
  background: url("../../../../img/brighton-pier-sunset-desktop.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.alert.alert-info.contact {
  color: #fff;
  background-color: #3E5075;
  border-color: #fff;
}

a.contact {
  color: #fff;
}
