html,
body.prices {
  background: url("../../../../img/desktop-spa-3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cover.prices {
  padding: 0 20px;
}

@media (min-width: 768px) {
  .masthead.prices {
    position: static;
  }
  .prices-footer>.mastfoot {
    position: static;
  }
}

@media (min-width: 992px) {
  .prices-footer>.mastfoot {
    position: static;
  }
}
