doctype html
html(lang='en')
  head
    include ../partials/head.jade

    // Custom styles for this template
    link(href='/css/carousel.css', rel='stylesheet')
  body
    include ../partials/navigation-carousel.jade

    include ../partials/carousel.jade
    
    // Marketing messaging and featurettes
    // ==================================================
    // Wrap the rest of the page in another container to center all the content.
    .container.marketing
      
      // START THE FEATURETTES
      .row.featurette
        .col-md-12
          h2.featurette-heading
            | #{heading}. 
            span.text-muted #{subtitle}
          p.lead
            | Hot Stones Massage originates over 2000 years ago from Ancient India and China. Using only Basalt (volcanic rock) it is believed that these specific stones can cleanse the body and aid relaxation of the heart and soothe the mind.
          p
            | A Hot Stone Massage combines the use of heat and massage strokes to provide a healing and effective experience.  The roots of hot stone massage go back as far as two millennia, the stones are believed to have a healing power and are usually collected by hand from beaches and river banks.
          p
            | The warmth and the gentle pressure of the stones on the body helps to promote a very relaxing experience and can be used effectively to relieve pain and tension. The hot stones expand blood vessels, which encourages blood flow throughout the body and aids recovery and relaxation. 
          p
            | The benefits of a hot stone massage include the following:
            ul
              li Improved blood circulation
              li Removal of toxins
              li Relaxation
              li Reduction of tension
              li Assistance with joint problems, back pain and sore muscles
              li Allows the therapist to access deeper tissues by relaxing the muscles quickly
          p
            | A full body hot stone massage will leave you feeling relaxed and calm.

          p.lead
            .text-center.pad-top
              a.btn.btn-lg.btn-default(href='../../../price-list') Price list
      
      hr.featurette-divider
      // /END THE FEATURETTES
      // FOOTER
      include ../partials/footer-carousel.jade
    // /.container
    
    // Bootstrap core JavaScript
    // ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/holder.js')
