doctype html
html(lang='en')
  head
    include ../partials/head.jade

    // Custom styles for this template
    link(href='/css/carousel.css', rel='stylesheet')
  body
    include ../partials/navigation-carousel.jade

    include ../partials/carousel.jade
    
    // Marketing messaging and featurettes
    // ==================================================
    // Wrap the rest of the page in another container to center all the content.
    .container.marketing
      
      // START THE FEATURETTES
      .row.featurette
        .col-md-12
          h2.featurette-heading
            | #{content.heading}.
            span.text-muted #{content.subtitle}
          p.lead
            | Pregnancy is a joyous time for the expectant mother however there are so many changes happening to the body which can often cause some pain and discomfort. The dramatic changes to the body can often put stress on the back, neck and abdominal muscles.
          p.lead
            | Pregnancy massage can offer deep relaxation along with emotional and physiological wellbeing for both the mother and her baby. Regular massage can also help to reduce the aches, pains and stresses from the pregnancy. 
          p.lead
            | During the massage the mother will be positioned on her side whilst supported by pillows to ensure comfort and safety for the mother and baby.
          p.lead
            | The benefits of pregnancy massage include the following:
            ul.therapy
              li Reduces back pain and general aches from pregnancy
              li Promotes better sleep
              li Reduces stress and blood pressure
              li Reduces fluid retention
              li Improves blood circulation (providing more oxygen and nutrients to the baby)
              li Relaxes the body and mind
              li Rejuvenates and uplifts
          p.lead
            | Please contact Bear Essentials Massage for a consultation prior to making a booking.
          p.lead
            .text-center.pad-top
              a.btn.btn-lg.btn-default(href='../../../price-list') Price list
          p.lead
            .text-center.pad-top
              a.btn.btn-lg.btn-default(href='/therapies') All Therapies
                    
      hr.featurette-divider
      // /END THE FEATURETTES
      // FOOTER
      include ../partials/footer-carousel.jade
    // /.container
    
    // Bootstrap core JavaScript
    // ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/holder.js')
    script(src='/js/ofi.browser.js')

    script.
      objectFitImages();
