doctype html
html(lang='en')
  head
    include ../partials/head.jade

    // Custom styles for this template
    link(href='/css/carousel.css', rel='stylesheet')
  body
    include ../partials/navigation-carousel.jade

    include ../partials/carousel.jade
    
    // Marketing messaging and featurettes
    // ==================================================
    // Wrap the rest of the page in another container to center all the content.
    .container.marketing
      
      // START THE FEATURETTES
      .row.featurette
        .col-md-12
          h2.featurette-heading
            | #{heading}. 
            span.text-muted #{subtitle}
          p.lead
            | Sports taping uses an elastic therapeutic tape which is applied directly to the skin. By taping over and around the muscle the tape helps to maintain a stable position and gives support to the bones and muscles whilst keeping the full range of motion, this is turn reduces pain and helps recovery. 
          p.lead
            | Mainly used for muscle overuse and injuries, sports taping can be very effective. It can also be used to reduce chronic swelling by aiding the flow of lymphatic fluid. This is achieved by lifting the skin and increasing the space between the fascia and the muscles as a result the oedema is reduced along with the related swelling. 
          p.lead
            | The Four key functions of sports taping are as follows:
            ul
              li Reduction of pain by removing the pressure from the pain receptors
              li Remove lymphatic fluid/haematomas underneath the skin
              li Adjusts mis-alignments of joints to aid fascia and muscles function
              li Reconditions abnormal tension and strengthens the muscles
              li Injury prevention
              li Injury management

          p.lead
            .text-center.pad-top
              a.btn.btn-lg.btn-default(href='../../../price-list') Price list

      hr.featurette-divider
      // /END THE FEATURETTES
      // FOOTER
      include ../partials/footer-carousel.jade
    // /.container
    
    // Bootstrap core JavaScript
    // ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/holder.js')
