doctype html
html(lang='en')
  head
    include partials/head.jade

    // Custom styles for this template
    link(href='/css/cover.css', rel='stylesheet')
    link(href='/css/about.css', rel='stylesheet')
    
  body(class='#{imageClass}')
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix.about
            .inner
              h1.masthead-brand #{heading}
              include partials/navigation-cover.jade
          .inner.cover.about

            .row
              .col-sm-12
                .panel.panel-default
                  .panel-heading.home
                    .panel-body
                      p.lead
                        | Based in Brighton and Hove, Bear Essentials Massage offers a 
                        | <a href="/therapies"> number of medical and therapeutic treatments</a>
                        | to aid relaxation, tension and stress release.
                      p
                        | Owned by Patricia Heywood a certified massage therapist, Bear Essentials Massage was established to help people to take time out from their everyday rituals and use that time to consider their wellbeing and state of mind even if it's just for 30 minutes once a fortnight or once a month.
                      p
                        | At Bear Essentials Massage we would like to change everyone’s mind-set and help them to realise how important it is to clear our minds and look after ourselves, it’s not just about down time it’s about life time. 
                      p
                        | We believe that there is so much to gain from massage therapy, whether it is to help you recuperate, rejuvenate, relieve tension or simply relax.
                      p
                        | Our customer service is key, we are always here to listen to your needs and help you on the road to wellbeing. When you visit Bear Essentials Massage we will discuss your requirements with a brief consultation prior to your treatment. This will ensure that your treatment is tailored to your needs and you leave us with the feeling that you have received a high quality service and 100% satisfaction. 
                      p
                        | A visit to Bear Essentials Massage will improve your day and life by fuelling your happiness and reducing your life’s stresses and tensions.
                      p
                        | Bear Essentials Massage is here to help you to utilise your time out and help you to recover, relax and rejuvenate.

            p.lead
              a.btn.btn-lg.btn-default(href='#{ctaLink}') #{ctaText}
            p.lead
              .text-center.pad-top
                a.btn.btn-lg.btn-default(href='/therapies') All Therapies

          include partials/footer-cover.jade
    
    include partials/analytics.jade

    script(src='/js/jquery-1.12.1.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/holder.js')
